<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Add attraction</title>
</head>
<body>
<form action="/attractions/save" th:method="POST" th:object="${attraction}">
    <p>
        <label for="name"> Navn:</label>
        <input id="name" type="text" th:field="*{name}"/>
    </p>
    <p>
        <label for="description"> Beskrivelse:</label>
        <input id="description" type="text" th:field="*{description}"/>
    </p>
         <label>Vælg by:</label>
    <select>
        <option th:field="*{by}" th:value="København">København</option>
        <option th:field="*{by}" th:value="Aarhus">Aarhus</option>
        <option th:field="*{by}" th:value="Frederiksberg">Frederiksberg</option>
    </select>
    <p>
    <label>Vælg tags:</label>
    <div th:each="tag : ${tags}">
    <input type="checkbox" th:field="*{tags}" th:value="${tag}" />
    <label th:text="${tag}"></label>
    <br />
</div>
    <p>
        <a th:href="@{/attractions}"> <button type="submit">Tilføj attraktion</button> </a>
        <a th:href="@{/attractions}"> <button type="button">Tilbage</button> </a>
    </p>

</form>

</body>
</html>