<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Turist Guide</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Attraktioner</th>
        <th>Beskrivelse</th>
        <th>By</th>
    </tr>
    </thead>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.getName()}"></td>
        <td th:text="${attraction.getDescription()}"></td>
        <td th:text="${attraction.getBy()}"></td>
        <td> <a th:href="@{attractions/{name}/tags(name=${attraction.getName()})}"> <button type="button">Tags</button> </a> </td>
        <td> <a th:href="@{attractions/{name}/edit(name=${attraction.getName()})}"> <button type="button">Opdater</button> </a> </td>
        <td> <a th:href="@{attractions/{name}/delete(name=${attraction.getName()})}"> <button type="button">Slet</button> </a> </td>
    </tr>
</table>
<a th:href="@{/attractions/tilføj}"> <button  type="submit" >Tilføj attraktion</button> </a>

</body>
</html>